.h {
	background-attachment:fixed;
	background-image:url(https://s1.ax1x.com/2020/05/14/YDSmz8.jpg) !important;
	background-size:25%;
}

.view_topic_main,.h.word .view_topic_main {
    background:transparent;
}

.view_topic_main .title_box,.h.word .view_topic_main .title_box {
    background: #ffcece;
    color: #fff;
    text-shadow: 0px 0px 5px #ff0000;
    border-radius: 10px;
}

.h {
    background: #ffffff;
}
.view_topic_main .title_box .right_btn_group .collect_btn {
    color: #ffffff;
}

.view_topic_main .reply_main_box .emotion_box .emotion_tabs .emotion_tab,.view_topic_main .reply_main_box .btn_group .main,.view_topic_main .reply_main_box .upload_box .upload_btn {
	background: #ffcccc73;
	border: 1px solid #ffabab;
	border-style: dashed;
}

.view_topic_main .reply_main_box .emotion_box .emotion_tabs .emotion_tab:hover,.view_topic_main .reply_main_box .btn_group .main:hover,.view_topic_main .reply_main_box .upload_box .upload_btn:hover,.view_topic_main .reply_main_box .emotion_box .emotion_tabs .emotion_tab.active,.view_topic_main .reply_main_box .btn_group .main.active,.view_topic_main .reply_main_box .upload_box .upload_btn.active,.view_topic_main .reply_main_box .emotion_box .emotion_tabs .emotion_tab:focus,.view_topic_main .reply_main_box .btn_group .main:focus,.view_topic_main .reply_main_box .upload_box .upload_btn:focus{
	background-color:#ffb8b8 !important;
}

@media only screen and (max-width: 640px){
	.view_topic_main .content_main_box .po_topic_box .content_html_box img, .view_topic_main .content_main_box .reply_box .content_html_box img {
		max-width: 300px;
	}
}

@media only screen and (min-width: 641px){
	.view_topic_main .content_main_box .po_topic_box .content_html_box img, .view_topic_main .content_main_box .reply_box .content_html_box img {
		max-width: 500px;
	}
}

.view_topic_main .content_main_box .po_topic_box .content_html_box img.emotion, .view_topic_main .content_main_box .reply_box .content_html_box img.emotion{
	max-width:40px;max-height:40px;
	}
	
a{
	color:#ff8080 !important;
	}
	
a:hover{
	color:#76b2df !important;
	}
	
a:focus {
    outline: none !important;
}

.view_topic_main .content_main_box .po_topic_box .footer, .view_topic_main .content_main_box .reply_box .footer{
	color: #ff8080 !important;
}
.view_topic_main .content_main_box .po_topic_box, .view_topic_main .content_main_box .reply_box {
    border-bottom: 1px solid #ff8080 !important;
}

.titleme{
	font-size:20px; 
	color:#ff8080; 
	font-weight:bold; 
	line-height:110%;
	}