.view_topic_main {
    background: #ffebed;
}

.view_topic_main .title_box,.h.word .view_topic_main .title_box {
    background: #ffcece;
    color: #fff;
    text-shadow: 0px 0px 5px #ff0000;
    border-radius: 10px;
}

.h {
    background: #ffffff;
}
.view_topic_main .title_box .right_btn_group .collect_btn {
    color: #ffffff;
}

.view_topic_main .reply_main_box .emotion_box .emotion_tabs .emotion_tab,.view_topic_main .reply_main_box .btn_group .main,.view_topic_main .reply_main_box .upload_box .upload_btn {
	background: #ffcccc;
	border: 1px solid #ffabab;
}