/* ..
                                                              . ':
                         ND  .                              7   $  =\
                       /O7     $                         +7,,/..   ~\
                       (   ?\   I7.   .;::'''^^'''-=\; D+I,:/:: ..Z=|
                       $ :8..\,,:I++\N.     (         :~?=,8::  :..DN
                       ~:N....\,,:+++8     (              '  :::::.,/
                        8..    7?+N         \                   $:,D/
                        D...:::~\                                 +D|
                          ?.,::$.                              ~N/:  .
                            ND :Y- :                  ? :I7/O::       \
                          /. $   'N:.\ Z-=$=:7.I~~~? /$/ :N         7  \
                         /   ?.   =8 :\,  D,8$$ON.:/ /?+     .      :~ O\
                         /  =. \    8  D?\   =/$?N.  D/     ::      I,:~+O
                         =  .   .,:/$N=N+ D + :/+??,I7?DD+. =Z        N:=\
                       /$ :7.,N =78=OMD~  \ O ) :IMD==D=ZD??N         I $\
                        D?  8I?~ZMNOOOOO$:  ) 7:  :OZZZO8  +/   :     I:,N\
                      ?      $+  OZZZZZ+          OZZ.OO8  ?? :     ?8:  |
                       I=    8   OZ$.ZZ=          7OZ.ZZ8  /~+  /D   7 7  |
                      . \. :+=O  OOZZZZ            8ZZZO  D?/.       +:,N~\
                      /  NI +I7DN   ~        .           =+N=:       /   :\
                     :  :   :Z?:.            /\        .I8D$+     :D?    +|
                     /    O:  \?~.                   ~:=+I OZD    z?~     7|
                    7-----I?:=::  =D=:,~,===---=====/,:, OZ$.+??=-?=--===~~M 

*/

p.mid8 {
	line-height:110%;
	}
	
body{
	background-attachment:fixed;
	background-image:url("https://i2.tiimg.com/712728/88e3f7f009a5d58a.jpg") !important;
	background-size:25%;
	}
	
.title {
	margin-bottom: 10px;
	background-color: #ffebeb;
	padding: 5px;
	color:#ff8080;
	text-align: center;
	}
	
.authorinfo{
	color:#ff8080;
	}
	
a{
	color:#ff8080;
	}
	
a:hover{
	color:#76b2df;
	}
	
.text-success{
	color:#76b2e3;
	}

#look_cookie{
	color:#ff8080;
	}
	
#duqian{
	color:#ff8080;
	}

#qiandao{
	color:#ff8080;
	}
	
.bg-info{
	background-color:#ffebeb;
	}

.btn-success{
	color:#FFFFFF;
	background-color:#ff8080;
	border-color:#ff8080;
	}

.btn-success:hover{
	color:#FFFFFF;
	background-color:#ffc5c5;
	border-color:#ffb6b6;
	}
	
hr{
	background:#ff8080;
	}
	
i{
	color:#ff8080;
	}
	
.text-danger{
	color: #76b2df;
	}
	
.text-info{
	color:#ff8080;
	}
	
.text-info:hover{
	color:#76b2df;
	}
	
.view_topic_main.title_box{
	background-color:#ffebeb
	}
	
.banner2{
	width:75%;
	}
	
	
.title01{
	font-size:20px; 
	color:#ff8080; 
	font-weight:bold; 
	line-height:110%;
	}
	
.alert-danger {
	background-color: #ffd0d07a;
	}
	
.alert-success {
    color: #937b7b;
    background-color: #ffd0d07a;
    border-color: #ebccd1;
}

.emotion{max-width:40px;max-height:40px;}.image1{background:url(https://i2.tiimg.com/712728/34c2fa26d2d8e1ef.png) no-repeat !important}.image2{background:url(https://i2.tiimg.com/712728/a0ad8f50d60cbd0d.png) no-repeat !important}.image3{background:url(https://i2.tiimg.com/712728/a0ad8f50d60cbd0d.png) no-repeat !important}.image4{background:url(https://i2.tiimg.com/712728/a0ad8f50d60cbd0d.png) no-repeat !important}.image6{background:url(https://i2.tiimg.com/712728/a0ad8f50d60cbd0d.png) no-repeat !important}.image7{background:url(https://i2.tiimg.com/712728/29b0b7af0d52d85c.png) no-repeat !important}.image8{background:url(https://i2.tiimg.com/712728/29b0b7af0d52d85c.png) no-repeat !important}.image9{background:url(https://i2.tiimg.com/712728/29b0b7af0d52d85c.png) no-repeat !important}.image10{background:url(https://i2.tiimg.com/712728/29b0b7af0d52d85c.png) no-repeat !important}.image12{background:url(https://i2.tiimg.com/712728/974c434d9884c643.png) no-repeat !important}.image13{background:url(https://i2.tiimg.com/712728/974c434d9884c643.png) no-repeat !important}.image14{background:url(https://i2.tiimg.com/712728/974c434d9884c643.png) no-repeat !important}.image15{background:url(https://i2.tiimg.com/712728/974c434d9884c643.png) no-repeat !important}.image16{background:url(https://i2.tiimg.com/712728/c852193a27f1b558.png) no-repeat !important}.image17{background:url(https://i2.tiimg.com/712728/c852193a27f1b558.png) no-repeat !important}.image18{background:url(https://i2.tiimg.com/712728/c852193a27f1b558.png) no-repeat !important}.image5{background:url(https://i2.tiimg.com/712728/c852193a27f1b558.png) no-repeat !important}.image11{background:url(https://i2.tiimg.com/712728/158b47c9a4b0ecf3.png) no-repeat !important}.image19{background:url(https://i2.tiimg.com/712728/158b47c9a4b0ecf3.png) no-repeat !important}.image20{background:url(https://i2.tiimg.com/712728/158b47c9a4b0ecf3.png) no-repeat !important}.image21{background:url(https://i2.tiimg.com/712728/158b47c9a4b0ecf3.png) no-repeat !important}.image22{background:url(https://i2.tiimg.com/712728/06d0154b9290fe81.png) no-repeat !important}.image23{background:url(https://i2.tiimg.com/712728/06d0154b9290fe81.png) no-repeat !important}.image24{background:url(https://i2.tiimg.com/712728/06d0154b9290fe81.png) no-repeat !important}.image25{background:url(https://i2.tiimg.com/712728/06d0154b9290fe81.png) no-repeat !important}.image26{background:url(https://i2.tiimg.com/712728/5d05e105216c1cf4.png) no-repeat !important}.image27{background:url(https://i2.tiimg.com/712728/5d05e105216c1cf4.png) no-repeat !important}.image28{background:url(https://i2.tiimg.com/712728/5d05e105216c1cf4.png) no-repeat !important}.image29{background:url(https://i2.tiimg.com/712728/5d05e105216c1cf4.png) no-repeat !important}.image30{background:url(https://i2.tiimg.com/712728/2a7b0dc8e2b757de.png) no-repeat !important}.image31{background:url(https://i2.tiimg.com/712728/2a7b0dc8e2b757de.png) no-repeat !important}.image32{background:url(https://i2.tiimg.com/712728/2a7b0dc8e2b757de.png) no-repeat !important}.image33{background:url(https://i2.tiimg.com/712728/2a7b0dc8e2b757de.png) no-repeat !important}.image34{background:url(https://i2.tiimg.com/712728/f1651784b21ca13f.png) no-repeat !important}.image35{background:url(https://i2.tiimg.com/712728/f1651784b21ca13f.png) no-repeat !important}.image36{background:url(https://i2.tiimg.com/712728/f1651784b21ca13f.png) no-repeat !important}.image37{background:url(https://i2.tiimg.com/712728/f1651784b21ca13f.png) no-repeat !important}.image38{background:url(https://i2.tiimg.com/712728/34c2fa26d2d8e1ef.png) no-repeat !important}.image39{background:url(https://i2.tiimg.com/712728/34c2fa26d2d8e1ef.png) no-repeat !important}.image40{background:url(https://i2.tiimg.com/712728/34c2fa26d2d8e1ef.png) no-repeat !important}	
	
	
	
#sidebar01{
	z-index:999;
	position:fixed !important;
	right:5px;
	top: 15%;
	line-height:5px;
	cursor:pointer
	}
#sidebar01 ul {
	margin: 0;
	padding: 0;
	}
#sidebar01 ul li {
	list-style: none;
	}
#sidebar01 ul li a {
	text-decoration: none;
	line-height:20px;
	text-align:center;
	display: block;
	transition:0.6s all;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
	}
#sidebar01 ul li a:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1
	}
.sid{
	max-width:35px;
	max-height:35px;
	}
	
.mybutton{
	background:transparent;
	border:0;
	padding:0;
	cursor:pointer;
	outline:none;
}
#myfuncbox{
	z-index:999;
	position:fixed;
	right:2px;
	top: 5%;
	line-height:150%;
	cursor:pointer;
	text-align:center;
	}
