:root {
	--accent-color: transparent;
	--font-color: #6a9d8e;
	--hover-color: #c9bc9c;
	--focus-color: #556f6c;
	--background: url("https://pic.imgdb.cn/item/623317865baa1a80ab3214d9.png");
	
}

body{	
    color: var(--font-color);
	margin:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6;
	zoom:1;
}

body:after{
	content: "";
	background:var(--background) 0px;
	/* background:url("../myblog/imgfile/banner_bg.png") repeat-y 0px; */
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position:fixed;
	z-index: -9;
}

a{
	color:var(--font-color);
	text-decoration:none;
	}
	
a:hover{
	color:var(--hover-color);
	text-decoration:none;
	}

a:focus{
	color:var(--focus-color);
	text-decoration:none;
	}
	
.container {
    padding-right: 40px;
    padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;	
	height: inherit;
}

.content {
	position:fixed; 
	top:60px; 
	bottom:0px;
	margin:0;
	width: 100%;
	height:auto;
    overflow:hidden;
}

.main {
	padding-right: 5px;
	border: 0;	
	overflow: hidden;
}
.content:main {
    padding-right: 0px;
}

.left_box{
	background:url("https://pic.imgdb.cn/item/623317865baa1a80ab3214df.png") no-repeat 0px;
	/* background:url("../myblog/imgfile/kl_q.png") no-repeat 0px; */
	background-size: 100%;
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 175px;
    height: 250px;
	transition: .1s;
}

.left_box:hover{
	background:url("https://pic.imgdb.cn/item/623317865baa1a80ab3214e5.png") no-repeat 0px;
	/* background:url("../myblog/imgfile/kl_q_blink.png") no-repeat 0px; */
	background-size: 100%;
    position: fixed;
}

.right_box{
	background:url("https://pic.imgdb.cn/item/623317865baa1a80ab3214ef.png") no-repeat 0px;
	/* background:url("../myblog/imgfile/abd_q.png") no-repeat 0px; */
	background-size: 100%;
    position: fixed;
    right: 0px;
    bottom: 10px;
    width: 175px;
    height: 250px;
	transition: .1s;
}

.right_box:hover{
	background:url("https://pic.imgdb.cn/item/623317865baa1a80ab3214ff.png") no-repeat 0px;
	/* background:url("../myblog/imgfile/abd_q_blink.png") no-repeat 0px; */
	background-size: 100%;
    position: fixed;
}

.header {
    padding: 0px;
	height:60px; 
	position:fixed; 
	top:0;
	width: 100%;
	background:var(--background) repeat-y 0px;
	/* background:url("../myblog/imgfile/banner_bg.png") repeat-y 0px; */
	border-bottom: double var(--hover-color);
}

.footer {
	background:var(--background) repeat-y 0px;
	position:fixed;
	width:100%; 
	height:30px; 
	border-top:double var(--hover-color);
	bottom:0; 	
	overflow: hidden;
}

.banner {
	width:100%;
	height:100%;
	background:url("https://pic.imgdb.cn/item/623843be27f86abb2a697851.png") no-repeat center;
	background-size:auto 75%;
	z-index:999;
}

.starline {
	display:none;
	position: absolute;
    top: 300px;
	left: 50%;
    transform: translateX(-50%);
	width:100%;
	height:25px;
	background:url(../myblog/imgfile/banner_mon.png) no-repeat center;
	background-size:auto 75%;
	z-index:999;
}

.bannermon{
	width:75%;
}
	
@media screen and (max-width: 768px) {
	body{
		background-size:25%;	
	}
	.bannermon{
		width:150%;
	}	
	.side {
        width:100%;
    }
	.container {
		width:100%;
	}
}

.randomstar{
	z-index:-1;
}

.guidetitle{
	color:var(--font-color);
	font-weight:bold;
}

#inputSearch {
    outline: 0;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: var(--hover-color);
    background-color: transparent;
    font-size: 14px;
    text-align: center;
}

#inputSearch::placeholder {
	color: #c9bc9c5e;
}

#searchBar {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(50vw + 40px);
    max-width: 500px;
    height: 43px;
    border-radius: 30px;
    color: rgba(255,255,255,.8);
    background-color: rgba(255,255,255,.25);
    box-shadow: rgb(176 209 200 / 55%) 0 0 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: color .25s,background-color .25s,box-shadow .25s,left .25s,opacity .25s,top .25s,width .25s;
}

#searchBar:hover {
	background-color: rgba(255,255,255,.5);
	width: calc(50vw + 50px);
	max-width: 520px;
	transition: .25s;
}

.searchBarBtn {
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
	border-color: transparent;
    transition: .25s;
}


#btnSearch {
    right: 5px;
    color: var(--hover-color);
	background-color:#eef5f3;
}

#btnSearch:hover {
    color: #fff;
	background-color:#c9bc9c5e;
}

#timeContainer {
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: .25s;
}
	
.botpara{
	position: absolute;
	width:100%;
	font-family:"Microsoft Yahei Light";
    color: #e9f3f0;
    font-size: 12px;
	text-shadow: 0 0 20px rgb(0 0 0 / 35%);
}
	
#timeText {
    animation: delayedFadeIn 2s;
    margin: 0;
    color: #fff;
	font-family:"Microsoft Yahei Light" !important;
    font-size: 36px;
    font-weight: inherit;
    text-shadow: 0 0 10px rgb(121 160 150);
    transition: .25s;
	user-select:none;
}

#timeText:hover {
	transform: scale(1.2,1.2);
}

#copyright{
	position: absolute;
	padding:4px 10px;
	margin:0;
}

#dateText{
	position: absolute;
	right:0;
	padding:4px 10px;
	margin:0;
}

#intro{
	display:none;
	position:fixed;
	width:100%;
	left: 50%;
    transform: translateX(-50%);
	transition: .25s;
	opacity: 0;
}

#engine{
	display:block;
	opacity: 1;
	transition: .25s;
}

#btnintro{
	background-color:transparent;
	color: var(--font-color);
	position:fixed;
	right:10px;
	top:3px;
	width:36px;
	font-size:30px;
	border-color: transparent;
    transition: .25s;
}

#btnintro:hover{
	opacity:0.5;
}