body{	
	margin:0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#6a9d8e;
    font-size: 16px;
    line-height: 1.6;
}

body:after{
	content: "";
	background:url("../myblog/imgfile/banner_bg.png") repeat-y 0px;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -9;
}

.title {
	margin-bottom: 10px;
	background-color: #ffebeb;
	padding: 5px;
	color:#ff8080;
	text-align: center;
	}
	

a{
	text-decoration:none;
	color:#6a9d8e;
	}
	
a:hover{
	color:#c9bc9c;
	text-decoration:none;
	}
	
	
hr{
	border:none;
	border-top:2px dotted #c1e1dc;
	height:2px;
	}

.container {
    padding-right: 40px;
    padding-left: 40px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;	
	height: inherit;
}
.content {
	position:absolute; 
	top:60px; 
	bottom:0px;
	margin:0;
	width: 100%;
	height:auto;
    overflow:auto;
}


.main {
	padding-right: 5px;
	border: 0;	
	overflow-y: hidden;
}
.content:main {
    padding-right: 0px;
}

.left_box{
	background:url("../myblog/imgfile/kl_q.png") no-repeat 0px;
	background-size: 75%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 250px;
    pointer-events: none;
}

.right_box{
	background:url("../myblog/imgfile/abd_q.png") no-repeat 0px;
	background-size: 75%;
    position: fixed;
    bottom: 0;
    right: -50px;
    width: 200px;
    height: 250px;
    pointer-events: none;
}

.mybox{
	width:100px;
	height:100px;
	border:1px solid #ccc;
	background-color:pink;
	opacity:1;
	transition: 2s;
	z-index:9;
	}
.mybox:hover{
	background-color:lightblue;	
	opacity:0;
	}

.scrollbar::-webkit-scrollbar{
	width : 5px;  /*高宽分别对应横竖滚动条的尺寸*/
	}
.scrollbar::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.1);
	background   : #c9bc9c;
	}
.scrollbar::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0);
	border-radius: 10px;
	background   : transparent;
	}
	

.header {
    padding: 0px;
	height:60px; 
	position:absolute; 
	top:0;
	width: 100%;
	background:url("../myblog/imgfile/banner_bg.png") repeat-y 0px;
	border-bottom: double #c9bc9c;
}

.footer {
	background:url("../myblog/imgfile/banner_bg.png") repeat-y 0px;
	position:fixed;
	width:100%; 
	height:30px; 
	border-top:double #c9bc9c;
	bottom:0; 	
	overflow: hidden;
}

.banner {
	width:100%;
	height:100%;
	background:url(../myblog/imgfile/font.png) no-repeat center;
	background-size:auto 75%;
	z-index:999;
}

.starline {
	width:100%;
	height:25px;
	background:url(../myblog/imgfile/banner_mon.png) no-repeat center;
	background-size:auto 75%;
	z-index:999;
}

.bannermon{
	width:75%;
}
	
@media screen and (max-width: 768px) {
	body{
		background-size:25%;	
	}
	.bannermon{
		width:150%;
	}	
	.side {
        width:100%;
    }
	.container {
		width:100%;
	}
	#noway{
		display:none;
	}
}
	
.botpara{
	text-align:center;
	line-height: 180%;
	color: #c9bc9c;
	font-size: 16px;
}

#myfuncbox{
	z-index:999;
	position:fixed;
	right:8px;
	bottom: 5%;
	line-height:150%;
	cursor:pointer;
	text-align:center;
}


textarea::-webkit-scrollbar{
	background:transparent;
}

.randomstar{
	z-index:-1;
}

.guidetitle{
	color:#6a9d8e;
	font-weight:bold;
}