:root {
	--theme-color: #6a9d8e;
	--hover-color: #c9bc9c;
	--light-color: transparent;
	--medium-color: #999c8c;
	--button-color: #c9bc9c73;
	--trans-color: #ffffff59;
	--white-color: #fff;
	--border-color: #c9bc9c;
	--background: url("https://pic.imgdb.cn/item/623317865baa1a80ab3214d9.png");
	
	--neko-theme-background:url("https://s1.ax1x.com/2020/05/14/YDSmz8.jpg");
	--neko-theme-font:#ff8080;
	--neko-theme-hover: #76b2df;
	--neko-theme-light: #ffcece;
	--neko-theme-medium: #ffabab;
	--neko-theme-button: #ffcccc73;
	--neko-theme-trans: #ffffff7a;
	--neko-theme-border: transparent;
	
	--tea-theme-background:url("https://pic.imgdb.cn/item/623317865baa1a80ab3214d9.png");
	--tea-theme-font: #6a9d8e;
	--tea-theme-hover: #c9bc9c;
	--tea-theme-light: transparent;
	--tea-theme-medium: #999c8c;
	--tea-theme-button: #c9bc9c73;
	--tea-theme-trans: #ffffff59;
	--tea-theme-border: #c9bc9c;
}


small font {
    cursor: pointer;
}

.content_html_box a:hover{
	text-decoration: none;
}

.h {
	background-attachment:fixed;
	background-image:var(--background) !important;
	background-size:25%;
}

.text-center img {
    opacity: 0;
	pointer-events: none;
}

.view_topic_main,.h.word .view_topic_main {
    background:var(--trans-color);
}

.view_topic_main .title_box,.h.word .view_topic_main .title_box {
    display:none;
}

.view_topic_main .title_box .right_btn_group .collect_btn {
    color: var(--white-color);
}

.h {
    background: var(--white-color);
}

.admin_bottom_div .hbtn {
    display: none !important;
}

	
.view_topic_main .reply_main_box .emotion_box .emotion_tabs .emotion_tab,.view_topic_main .reply_main_box .btn_group .main,.view_topic_main .reply_main_box .upload_box .upload_btn {
	background: var(--button-color);
	border: 1px solid var(--medium-color);
	border-style: dashed;
}

.view_topic_main .reply_main_box .emotion_box .emotion_tabs .emotion_tab:hover,.view_topic_main .reply_main_box .btn_group .main:hover,.view_topic_main .reply_main_box .upload_box .upload_btn:hover,.view_topic_main .reply_main_box .emotion_box .emotion_tabs .emotion_tab.active,.view_topic_main .reply_main_box .btn_group .main.active,.view_topic_main .reply_main_box .upload_box .upload_btn.active,.view_topic_main .reply_main_box .emotion_box .emotion_tabs .emotion_tab:focus,.view_topic_main .reply_main_box .btn_group .main:focus,.view_topic_main .reply_main_box .upload_box .upload_btn:focus{
	background-color:var(--theme-color); !important;
}

.view_topic_main .content_main_box .po_topic_box .title_line_box .left .hbtn.reward, .view_topic_main .content_main_box .po_topic_box .title_line_box .left a.reward, .view_topic_main .content_main_box .reply_box .title_line_box .left .hbtn.reward, .view_topic_main .content_main_box .reply_box .title_line_box .left a.reward,.view_topic_main .content_main_box .po_topic_box .change_title_color_btn, .view_topic_main .content_main_box .reply_box .change_title_color_btn {
    color: var(--theme-color);
}

.navbar-light {
    background: #ffffffd6!important;
    border-bottom: 1px solid var(--theme-color);
}

label.skinbtn,.nav_button a.nav-link {
    background: var(--theme-color);
    border: 1px solid var(--medium-color);
}

label.skinbtn:hover,label.skinbtn.active,.nav_button a.nav-link:hover,.nav_button a.nav-link.active {
    background: var(--medium-color) !important;
}

@media only screen and (max-width: 640px){
	.view_topic_main .content_main_box .po_topic_box .content_html_box img, .view_topic_main .content_main_box .reply_box .content_html_box img {
		max-width: 300px;
	}
	
	.view_topic_main .foot_btn_group .hbtn {
	position: absolute;
    margin: 20px;
    left: 0px;
	}
}

@media only screen and (min-width: 641px){
	.view_topic_main .content_main_box .po_topic_box .content_html_box img, .view_topic_main .content_main_box .reply_box .content_html_box img {
		max-width: 500px;
	}
	
	.view_topic_main,.h.word .view_topic_main {
	border-style: solid double;
    border-color: var(--border-color);
    border-width: 0 3px;
}
}

.view_topic_main .content_main_box .po_topic_box .content_html_box img.emotion, .view_topic_main .content_main_box .reply_box .content_html_box img.emotion{
	max-width:40px;
	max-height:40px;
	/* mix-blend-mode: multiply; */
}
	
.content_main_box a, .reply_box a, a.mr-1, .snowindex a{
	color:var(--theme-color);
}
	
a.mr-1.disabled {
    color: #333;
}

.content_main_box a:hover{
	color:var(--hover-color) !important;
}
	
a:focus {
    outline: none !important;
}

.hd-menu-pc .scroll-btn a .icon, .hd-menu-pc .scroll-btn a span.box, .hd-menu-mobile a span.box {
    color: var(--theme-color);
}

.hd-menu-pc .s-btn:hover,.hd-menu-mobile .s-btn {
    background-color: var(--theme-color);
}

.view_topic_main .content_main_box .po_topic_box .footer, .view_topic_main .content_main_box .reply_box .footer{
	color: var(--theme-color) !important;
}
.view_topic_main .content_main_box .po_topic_box, .view_topic_main .content_main_box .reply_box {
    border-bottom: 1px solid var(--theme-color) !important;
}


@media only screen and (max-width: 640px){
.titleme{
	font-size:6vw; 
	color:var(--theme-color); 
	font-weight:bold; 
	line-height:110%;
	}
}
	
@media only screen and (min-width: 641px){
.titleme{
	font-size:40px; 
	color:var(--theme-color); 
	font-weight:bold; 
	line-height:110%;
	}
}

.navbar-toggler {
    background: var(--theme-color)!important;
    border-color: var(--theme-color)!important;
}
	
summary.sumtop {
	list-style: none;
}
	
summary.sumtop::-webkit-details-marker {
    display: none;
}
	
summary:focus{
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0); 
}/* 取消safari蓝框 */
	
summary.sumtop{
	cursor:default;
}
	
.avatar_box {
    display: none;
}	/* 隐藏头像 */

.text-success {
    display: none;
}	/* 隐藏删除的楼层 */
	
#fbai{
	color:transparent;
}

.snowindex p{
	line-height:125%;
}


/* 搜索栏 */

#inputSearch {
    outline: 0;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    color: var(--hover-color);
    background-color: transparent;
    font-size: 14px;
    text-align: center;
}

#inputSearch::placeholder {
	color: #c9bc9c5e;
}

#searchBar {
    top: 200px;
    width: calc(50vw + 40px);
    max-width: 500px;
    height: 43px;
    border-radius: 30px;
    color: rgba(255,255,255,.8);
    background-color: rgba(255,255,255,.25);
    box-shadow: rgb(176 209 200 / 55%) 0 0 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: color .25s,background-color .25s,box-shadow .25s,left .25s,opacity .25s,top .25s,width .25s;
}

#searchBar:hover {
	background-color: rgba(255,255,255,.5);
	width: calc(50vw + 50px);
	max-width: 520px;
	transition: .25s;
}

.searchBarBtn {
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
	border-color: transparent;
    transition: .25s;
}


#btnSearch {
    right: 5px;
    color: var(--hover-color);
	background-color:#eef5f3;
}

#btnSearch:hover {
    color: #fff;
	background-color:#c9bc9c5e;
}

#timeContainer {
    position: absolute;
    top: 115px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: .25s;
}
	
.botpara{
	position: absolute;
	width:100%;
	font-family:"Microsoft Yahei Light";
    color: #e9f3f0;
    font-size: 12px;
	text-shadow: 0 0 20px rgb(0 0 0 / 35%);
}
	
#timeText {
    animation: delayedFadeIn 2s;
    margin: 0;
    color: #fff;
	font-family:"Microsoft Yahei Light" !important;
    font-size: 36px;
    font-weight: inherit;
    text-shadow: 0 0 10px rgb(121 160 150);
    transition: .25s;
	user-select:none;
}

#timeText:hover {
	transform: scale(1.2,1.2);
}

#copyright{
	position: absolute;
	padding:4px 10px;
	margin:0;
}

#dateText{
	position: absolute;
	right:0;
	padding:4px 10px;
	margin:0;
}

#intro{
	display:none;
	position:fixed;
	width:100%;
	left: 50%;
    transform: translateX(-50%);
	transition: .25s;
	opacity: 0;
}

#engine{
	display:block;
	opacity: 1;
	transition: .25s;
}

#btnintro{
	background-color:transparent;
	color: var(--font-color);
	position:fixed;
	right:10px;
	top:3px;
	width:36px;
	font-size:30px;
	border-color: transparent;
    transition: .25s;
}

#btnintro:hover{
	opacity:0.5;
}


/* O66ghXNxg */

/* ryh7foaE2 */